@import "tailwindcss";

/* In your globals.css or a style tag */
@media print {
  .print-color-adjust {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
@media print {
  @page {
    margin: 0;
  }
}
