@import "tailwindcss";

@theme {
  --color-grae: "#0d0d0d";
  --color-green: "#0b271e";
  --color-beige: "#fdfaf2";
}

@media print {
  .print-color-adjust {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
@media print {
  @page {
    margin: 0;
  }
}

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #071f18;
  --foreground: #071f18;
}

.dark {
  --background: #0d0d0d;
  --foreground: #0d0d0d;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
